<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (fabricante) {
      <div>
        <h2 data-cy="fabricanteDetailsHeading"><span>Fabricante</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Código</span></dt>
          <dd>
            <span>{{ fabricante.id }}</span>
          </dd>
          <dt><span>Nome</span></dt>
          <dd>
            <span>{{ fabricante.nome }}</span>
          </dd>
          <dt><span>Criado</span></dt>
          <dd>
            <span>{{ fabricante.criado | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Pais</span></dt>
          <dd>
            @if (fabricante.pais) {
              <div>
                <a [routerLink]="['/pais', fabricante.pais.id, 'view']">{{ fabricante.pais.nome }}</a>
              </div>
            }
          </dd>
          <dt><span>Vacinas</span></dt>
          <dd>
            @for (vacinas of fabricante.vacinas; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/vacina', vacinas.id, 'view']">{{ vacinas.nome }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
        </button>

        <button type="button" [routerLink]="['/fabricante', fabricante.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
