<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (vacina) {
      <div>
        <h2 data-cy="vacinaDetailsHeading"><span>Vacina</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Código</span></dt>
          <dd>
            <span>{{ vacina.id }}</span>
          </dd>
          <dt><span>Nome</span></dt>
          <dd>
            <span>{{ vacina.nome }}</span>
          </dd>
          <dt><span>Criado</span></dt>
          <dd>
            <span>{{ vacina.criado | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Doenca</span></dt>
          <dd>
            @if (vacina.doenca) {
              <div>
                <a [routerLink]="['/doenca', vacina.doenca.id, 'view']">{{ vacina.doenca.nome }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
        </button>

        <button type="button" [routerLink]="['/vacina', vacina.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
