<div>
  <h2 id="page-heading" data-cy="VacinaHeading">
    <span jhiTranslate="exemploModeloVacinacaoApp.vacina.home.title">Vacinas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="exemploModeloVacinacaoApp.vacina.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vacina"
        [routerLink]="['/vacina/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="exemploModeloVacinacaoApp.vacina.home.createLabel">Criar novo Vacina</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (vacinas?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="exemploModeloVacinacaoApp.vacina.home.notFound">Nenhum Vacina encontrado</span>
    </div>
  }

  @if (vacinas && vacinas.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nome">
              <div class="d-flex">
                <span jhiTranslate="exemploModeloVacinacaoApp.vacina.nome">Nome</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="criado">
              <div class="d-flex">
                <span jhiTranslate="exemploModeloVacinacaoApp.vacina.criado">Criado</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="doenca.nome">
              <div class="d-flex">
                <span jhiTranslate="exemploModeloVacinacaoApp.vacina.doenca">Doenca</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (vacina of vacinas; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/vacina', vacina.id, 'view']">{{ vacina.id }}</a>
              </td>
              <td>{{ vacina.nome }}</td>
              <td>{{ vacina.criado | formatMediumDatetime }}</td>
              <td>
                @if (vacina.doenca) {
                  <div>
                    <a [routerLink]="['/doenca', vacina.doenca.id, 'view']">{{ vacina.doenca.nome }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/vacina', vacina.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/vacina', vacina.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(vacina)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
